/*学员&教务 二级菜单css*/
#stuDailyInfoCheck {
    align:center;
}

#stuDailyInfoCheck li {
    float: left;
    text-align: center;
}

a {
    background: none;
}

a:hover {
    position:relative ;
    top:1px;
    left:1px;
    color:red;
}

/*学生签到信息的选择框背景颜色*/
#selctedInfo {
    float: left;
    background: blanchedalmond;
    clear: both;
}
/*学生签到信息的具体信息显示的背景颜色*/
#showRegInfo{
    float: left;
    background: #FDF5E6;
    clear: both;
}

table {
    border: 1px dotted;
}

tr {
    border: 1px dotted;
}

td {
    border: 1px dotted;
}

/*企业信息发布*/
